:root {
    --clr1: rgb(62,133,154);
    --clr2: rgb(67,181,159);
    --clr3: rgb(244,200,128);
    --clr4: rgb(229,121,61);
    --clr5: rgb(227,89,72);
}

* {
    padding: 0;
    margin: 0;
}

html {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: grid;
    place-content: center;
    background-color: #1b1b1b;
    font-family: 'Mynerve', cursive;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 0.25rem 0;
    color: rgb(238, 238, 238);
    background-color: #313131;
}

header h1 {
    padding-left: 2rem;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#generateBtn {
    cursor: pointer;
    color: rgb(238, 238, 238);
    background-color: #33333300;
    padding: 1rem 1.5rem;
    font-size: 2rem;
    font-family: 'Mynerve', cursive;
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(40deg, var(--clr1) 20%, var(--clr2) 40%, var(--clr3) 60%, var(--clr4) 80%, var(--clr5) 100%);
}

.exampleText {
    font-size: 72px;
    background: linear-gradient(90deg, var(--clr1) 20%, var(--clr2) 40%, var(--clr3) 60%, var(--clr4) 80%, var(--clr5) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#template {
    display: flex;
    place-items: center;
    justify-content: center;
    column-gap: 2rem;
    margin-top: 50px;
}

.palette {
    position: relative;
    width: 500px;
    height: 300px;
    background: linear-gradient(90deg, var(--clr1) 20%, var(--clr2) 40%, var(--clr3) 60%, var(--clr4) 80%, var(--clr5) 100%);
}

.colors {
    width: 100%;
    height: 2rem;
    position: absolute;
    bottom: -2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    font-size: 0.80rem;
}

.colors span {
    cursor: pointer;
}

.colors span:hover {
    scale: 1.2;
}

span:nth-child(1):hover {
    padding: 5px;
    border-radius: 5px;
    background-color: var(--clr1);
}

span:nth-child(2):hover {
    padding: 5px;
    border-radius: 5px;
    background-color: var(--clr2);
}

span:nth-child(3):hover {
    padding: 5px;
    border-radius: 5px;
    background-color: var(--clr3);
}

span:nth-child(4):hover {
    padding: 5px;
    border-radius: 5px;
    background-color: var(--clr4);
}

span:nth-child(5):hover {
    padding: 5px;
    border-radius: 5px;
    background-color: var(--clr5);
}

.window {
    position: relative;
    width: 800px;
    height: 500px;
    background-color: #313131;
    border: solid;
    border-width: thin;
    padding: 10px;
}

.window::before {
    content: '';
    position: relative;
    display: block;
    z-index: 10;
    width: 800px;
    height: 500px;
}

#confirmCopy {
    position: absolute;
    bottom: -75px;
    color: white;
    border-radius: 5px;
    background-color: #313131;
    padding: 10px 50px;
    font-size: 1.5rem;

    -webkit-transition: bottom 1s ease-in-out;
    -moz-transition: bottom 1s ease-in-out;
    -ms-transition: bottom 1s ease-in-out;
    -o-transition: bottom 1s ease-in-out;
    transition: bottom 1s ease-in-out;
}

.confirm {
    bottom: 25px !important;
}

@keyframes moveCopy {
    0% {bottom: -75px}
    50% {bottom: 25px}
    100% {bottom: -75px}
}