<style>
    .modern-style {
        font-family: 'Tilt Warp', cursive;
    }

    .decal {
        font-size: 20rem;
        position: absolute;
    }

    .top {
        color: var(--clr2);
        top: -10%;
        left: 12%;
    }

    .bottom {
        color: var(--clr1);
        bottom: -10%;
        left: 7%;
    }

    .title {
        color: white;
        position: absolute;
        bottom: 15%;
        right: 5%;
    }

    .title p {
        color: var(--clr3);
    }

    .options {
        display: flex;
        margin-top: 2rem;
        align-items: center;
        justify-content: baseline;
        column-gap: 1.5rem;
    }

    .options .button {
        width: 150px;
        height: 35px;
        color: var(--clr3);
        background-color: var(--clr5);
        border-radius: 5px;
        display: grid;
        place-content: center;
    }

    .options p {
        text-decoration: underline;
    }

    .options .button p {
        color: var(--clr3);
        text-decoration: none;
    }
</style>

<div class="palette">
    <div class="colors">
        <span id="clr1" onclick="copyValue('clr1')">rgb(62,133,154)</span>
        <span id="clr2" onclick="copyValue('clr2')">rgb(67,181,159)</span>
        <span id="clr3" onclick="copyValue('clr3')">rgb(244,200,128)</span>
        <span id="clr4" onclick="copyValue('clr4')">rgb(229,121,61)</span>
        <span id="clr5" onclick="copyValue('clr5')">rgb(227,89,72)</span>
    </div>
</div>

<div class="window modern-style">
    <h1 class="decal top">20</h1>
    <h1 class="decal bottom">01</h1>
    <div class="title">
        <h1>Lorem Ipsum</h1>
        <p>
            dolor sit amet, consectetur adipiscing elit,<br>
            sed do eiusmod tempor incididunt ut<br>
            labore et dolore magna aliqua.
        </p>
        <div class="options">
            <div class="button">
                <p>Press Here</p>
            </div>
            <p>Contact</p>
        </div>
    </div>
</div>